body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin: 8px;
}

/*top right bottom left*/
.content {
  background: #e3f4ff;
  padding: 16px 8px 16px 8px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 32px 8px 32px;
  margin: 0px auto; /* css trick to center elements*/
}